//== Brand Color
$primary-100: #030824;

$a-100: #1A932E;
$p-10: #E6E6E9;
$p-70: #4F5266;
$w-100: #E65F2B;
$s-75: #53AE62;
$s-80: #00FFD1;
$pink-100: #EC008E;

//== Fonts


//== Colors

.a-100 {
  color: $a-100;
}

.p-10 {
  color: $p-10
}

.p-70 {
  color: $p-70
}

.w-100 {
  color: $w-100
}

.s-75 {
  color: $s-75
}

.s-80 {
  color: $s-80
}

.pink-100 {
  color: $pink-100
}
